packages/*.zip
packages/*/
cache/*.txt
logs/*.log

# Server configuration (copy config.sample.php)
/config.php
/licenses.json

# Build artifacts
.phpunit.cache/
vendor/

# Ignore the entire IDEA/PhpStorm directory
.idea/

# Local test environments
_misc_cd/
