parameters:
	ignoreErrors:
		-
			message: '#^Offset ''packages'' on array\{packages\: array\<string\>, expires\: string\|null\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Auth/FileLicenseProvider.php

		-
			message: '#^Call to function base64_decode\(\) requires parameter \#2 to be set\.$#'
			identifier: function.strict
			count: 1
			path: src/Cache/FileCache.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/ComposerEndpoint.php

		-
			message: '#^Class Apermo\\WpUpdateServer\\Headers implements generic interface ArrayAccess but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Headers.php

		-
			message: '#^Class Apermo\\WpUpdateServer\\Headers implements generic interface IteratorAggregate but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Headers.php

		-
			message: '#^Method Apermo\\WpUpdateServer\\Headers\:\:getIterator\(\) return type with generic class ArrayIterator does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Headers.php

		-
			message: '#^Strict comparison using \!\=\= between array and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Headers.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: src/PackageRepository.php

		-
			message: '#^Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics\.$#'
			identifier: arrayFilter.strict
			count: 1
			path: src/UpdateServer.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 9
			path: src/UpdateServer.php

		-
			message: '#^Only booleans are allowed in a negated boolean, mixed given\.$#'
			identifier: booleanNot.exprNotBoolean
			count: 1
			path: src/UpdateServer.php

		-
			message: '#^Only booleans are allowed in an if condition, mixed given\.$#'
			identifier: if.condNotBoolean
			count: 2
			path: src/UpdateServer.php

		-
			message: '#^Strict comparison using \!\=\= between array\<mixed\>\|string and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/UpdateServer.php

		-
			message: '#^Strict comparison using \!\=\= between string and false will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/UpdateServer.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/UpdateServer.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/UploadHandler.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/Validation/ValidationResult.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 2
			path: src/Validation/ZipValidator.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 1
			path: src/VersionUtils.php

		-
			message: '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
			identifier: empty.notAllowed
			count: 3
			path: src/ZipMetadataParser.php
